/*
 * (C) Copyright 2016 Rockchip Electronics Co., Ltd
 *
 * SPDX-License-Identifier:     GPL-2.0+
 */

/dts-v1/;
#include "rk3399-rock-pi-4.dtsi"

/ {
	model = "Radxa ROCK Pi 4C";
	compatible = "radxa,rockpi4c", "radxa,rockpi4", "rockchip,rk3399";
};

&vcc5v0_typec {
	compatible = "regulator-gpio";
	enable-active-high;
	gpio = <&gpio1 RK_PA3 GPIO_ACTIVE_HIGH>;
	pinctrl-names = "default";
	pinctrl-0 = <&vcc5v0_typec_en>;
	regulator-name = "vcc5v0_typec";
	vin-supply = <&vcc5v0_sys>;
};

&vcc5v0_host {
	compatible = "regulator-gpio";
	enable-active-high;
	gpio = <&gpio3 RK_PD6 GPIO_ACTIVE_HIGH>;
	pinctrl-names = "default";
	pinctrl-0 = <&vcc5v0_host_en>;
	regulator-name = "vcc5v0_host";
	vin-supply = <&vcc5v0_sys>;
};

&pinctrl {
	usb {
		vcc5v0_typec_en: vcc5v0-typec-en {
			rockchip,pins = <1 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		vcc5v0_host_en: vcc5v0-host-en {
			rockchip,pins = <3 RK_PD6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};
